<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="register-container">
  <form>
    <h2>Register</h2>

    <label>Username:</label>
    <input type="text" placeholder="Enter username">

    <label>Email:</label>
    <input type="email" placeholder="Enter email">

    <label>Password:</label>
    <input type="password" placeholder="Enter password">

    <label>Confirm Password:</label>
    <input type="password" placeholder="Confirm password">

    <button class="register-btn">SIGN UP</button>

    <div class="login-link">
      Already have an account? <a href="#">Login</a>
    </div>
  </form>
</div>