<%# Unit 1, Assignment 1 %>
<h1>Welcome to CSE Motors!</h1>
<%# Unit 4, Sessions & Messages activity %>
<%- messages() %>

<section id="hero">

  <ul>
    <li>
      <h2>DMC Delorean</h2>
    </li>
    <li>3 Cup holders</li>
    <li>Superman doors</li>
    <li>Fuzzy dice!</li>
    <li><button id="actionbtn">Own Today</button></li>
  </ul>

</section>
<div class="flex-content">
<div class="reviews-container">
    <h1>DMC Delorean Reviews</h1>

    <ul>
        <% if (reviews && reviews.length > 0) { %>
            <% reviews.forEach(review => { %>
                <li>
                    "<%= review.review_text %>" 
                    (<%= review.rating %>/5)
                </li>
            <% }) %>
        <% } else { %>
            <li>No reviews yet. Be the first!</li>
        <% } %>
    </ul>

    <h2>Add Your Review</h2>
    <form action="/reviews/add" method="POST">
        
        <label for="review_text">Review:</label><br>
        <textarea name="review_text" id="review_text" required></textarea><br>

        <label for="rating">Rating:</label><br>
        <select name="rating" id="rating" required>
            <option value="">Select Rating</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br><br>

        <input type="hidden" name="vehicle_id" value="1">

        <button type="submit">Submit Review</button>
    </form>
</div>
  <section id="add-ons">
    <h2>Delorean Upgrades</h2>
    <div class="flex">
      <a href="#" title="flux-capacitor">
        <figure>

          <div class="add-col"><img src="./images/upgrades/flux-cap.png" alt="Flux-Capacitor"></div>
          <figcaption>Flux Capacitor</figcaption>
        </figure>
      </a>
      <a href="#" title="flame decals">
        <figure>
          <div class="add-col"><img src="./images/upgrades/flame.jpg" alt="flame decal"></div>
          <figcaption>Flame Decals</figcaption>
        </figure>
      </a>

    </div>
    <div class="flex">
      <a href="#" title="bumper stickers">
        <figure>
          <div class="add-col"><img src="./images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"> </div>
          <figcaption>Bumper Stickers</figcaption>
        </figure>
      </a>
      <a href="#" title="hub caps">
        <figure>
          <div class="add-col"><img src="./images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>
          <figcaption>Hub Caps</figcaption>
        </figure>
      </a>

    </div>
  </section>

</div>