<!DOCTYPE html>
<html land="en">
<%- include('../partials/head') %>

<body>
    <h1>Inventory Management</h1>
    <div class="classification-container">
  <form>
    <label>Classification Name:</label>
     <div class="classification-message">
        <a>Name must be chascters only</a>
      </div>
     <input type="text" placeholder="Enter classification">
    <button class="classification-btn">Add Classification</button>
  </form>
</div>
</body>
</html>